In [1]:
#! pip install pandas-datareader

In [2]:
import os
from datetime import datetime
import pandas_datareader.data as web
import configparser
settings = configparser.ConfigParser()
settings.read('../data/processed/config.ini')
api_key = settings.get('AlphaVantage', 'api_key')

In [5]:
start = datetime(2000, 1, 1)
end = datetime.now()

In [6]:
f = web.DataReader("UNH", "av-daily", start=start,  end=end, api_key= api_key)

In [7]:
f

               open    high     low   close    volume
2000-03-13   49.000   50.50   49.00   50.06    785300
2000-03-14   49.880   50.44   49.06   50.06    493700
2000-03-15   49.690   51.75   49.50   51.44   1609500
2000-03-16   50.620   53.19   49.75   52.12   1395500
2000-03-17   53.000   54.00   51.19   51.62   1208900
...             ...     ...     ...     ...       ...
2020-03-09  264.465  281.44  259.24  273.44   8057145
2020-03-10  279.720  283.90  272.50  280.00   7363915
2020-03-11  274.760  285.24  273.26  277.78   7724616
2020-03-12  260.000  272.23  250.00  250.41  10361301
2020-03-13  260.990  273.22  242.27  272.04   9052890

[5033 rows x 5 columns]